*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buttonDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Input{
    border: 0;;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    border: 1px solid grey;
    margin: 1px;
}

.Button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 0;
    height: 20px;
    width: 50px;
    margin: 5px;
}

.inputParentdiv
{
    display: flex;
    justify-content: center;
    align-items: center;
}